.hero_home {
  background-image: url("../img/desktop_bkg.jpg");
  margin-top: -100px;
  padding-top: 90px;
  @include media-breakpoint-down(md) {
    padding-top:95px;
  }
  .container {
    @media only screen and (max-width: 568px) {
      background-image: url("../img/philip-homepage-cropped-mobile.png");
      background-position: 220% -20%;
      background-size: 90% auto;
      background-repeat: no-repeat;
    }
    @media only screen and (max-width: 359px) {
      background-position: 50px 10px;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }
  .quote {
    margin-top:2.5rem;
    @include media-breakpoint-down(lg) {
      margin-top:0rem;
    }
  }
}

.quote_padding {
  z-index: 99;
  @include media-breakpoint-down(sm) {
    padding-bottom: 22vw;
  }
}

.hero_quote_padding {
  z-index: 99;
  padding-top:7vw;
}

.hero {
  max-height:700px;
  overflow: hidden;
}

.profile_image {
  width: 41%;
  display: inline-block;
  @include media-breakpoint-down(md) {
    width: 50%;

  }

  img {
    width:117%;
    max-width:117%;
    margin-left:-6vw;
    @include media-breakpoint-down(sm) {
      width:100%;
      max-width:100%;
      margin-left:0vw;
    }
  }
}

/* hero */

.hero_overlay {
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 1;
}


/* specialisms */
.specialism_desktop {
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.specialismsAccordion {
  > div {
    border-bottom: 1px solid $blue;
  }

  h3 {
    position: relative;
    padding-right: 10px;

    &:before {
      font-family: "Font Awesome 5 Pro" !important;
      content: '\f068';
      position: absolute;
      right: 0;
      color: $blue;
    }

    &.collapsed {
      &:before {
        content: '\f067';
      }
    }
  }
}



/* quote */

.quote_container {
  position: relative;
}
.quote_text {
  &.top_right {
    position: absolute;
    width: 40%;
    top: 9vw;
    right: 12vw;
    @include media-breakpoint-down(sm) {
      top: 12vw;
      right: auto;
      left:12vw;
      width: 80%;
    }
  }
}


/* specialisms */

.case_specialisms {
  margin: 2em 0px 0px;
  padding:0px;
  list-style: none;
  li {
    padding-left:12px;
    position: relative;
    font-size:1.25rem;
    margin-bottom:.5em;
    &:before {
      position: absolute;
      left:0px;
      content:'';
      width:5px;
      height:5px;
      background: $blue;
      top:12px;
    }
  }
}

/* text content */

.text_content {
  h2, h3, h4, h1 {
    font-size: 1.375rem;
    position: relative;
    margin-bottom: 1.25em;
    margin-top:2em;
    padding-left:0px;
    border:0px;
    text-transform: none;

    &:before {
      position: absolute;
      top:auto;
      bottom: -7px;
      content: '';
      background-color: #335bfd;
      height: 4px;
      width: 25px;
      left: 0;
    }
  }

  ul {
    margin:20px 0px 0px;
    padding:0px;
    list-style: none;
    li {
      font-size: 1.25rem;
      margin-bottom:10px;
      padding-left: 12px;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        content: '';
        width: 5px;
        height: 5px;
        background: #335bfd;
        top: 12px;
      }
    }
  }
}
